<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Ejercicio Layout</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<header>
		<img id="CuadradoImagen" src="Imagenes/Cuadrado.jpg"></img>
		<h1>Cabecera del sitio web</h1>
	</header>
	<nav>
		<ul>
			<li id="Primero" class="primero">
				<a href="#">Inicio</a>
				<ul class="segundoI">
					<li><a href="#">Inicio 1</a>
						<ul class="terceroI1">
							<li><a href="#">Inicio 1.1</a></li>
							<li><a href="#">Inicio 1.2</a></li>
						</ul>
					</li>
					<li><a href="#">Inicio 2</a>
						<ul class="terceroI2">
							<li><a href="#">Inicio 2.1</a></li>
							<li><a href="#">Inicio 2.2</a></li>
						</ul>
					</li>
				</ul>
			</li>
			<li class="primero">
				<a href="#">Categoría 1</a>
				<ul class="segundoCat1">
					<li><a href="#">Categoría 1.1</a>
						<ul class="terceroCat11">
							<li><a href="#">Categoría 1.1.1</a></li>
							<li><a href="#">Categoría 1.1.2</a></li>
						</ul>
					</li>
					<li><a href="#">Categoría 1.2</a>
						<ul class="terceroCat12">
							<li><a href="#">Categoría 1.2.1</a></li>
							<li><a href="#">Categoría 1.2.2</a></li>
						</ul>
					</li>
				</ul>
			</li>
			<li class="primero">
				<a href="#">Categoría 2</a>
				<ul class="segundoCat2">
					<li><a href="#">Categoría 2.1</a>
						<ul class="terceroCat21">
							<li><a href="#">Categoría 2.1.1</a></li>
							<li><a href="#">Categoría 2.1.2</a></li>
						</ul>
					</li>
					<li><a href="#">Categoría 2.2</a>
						<ul class="terceroCat22">
							<li><a href="#">Categoría 2.2.1</a></li>
							<li><a href="#">Categoría 2.2.2</a></li>
						</ul>
					</li>
				</ul>
			</li>
			<li class="primero">
				<a href="#">Contacto</a>
				<ul class="segundoCon">
					<li><a href="#">Contacto 1</a>
						<ul class="terceroCon1">
							<li><a href="#">Contacto 1.1</a></li>
							<li><a href="#">Contacto 1.2</a></li>
						</ul>
					</li>
					<li><a href="#">Contacto 2</a>
						<ul class="terceroCon2">
							<li><a href="#">Contacto 2.1</a></li>
							<li><a href="#">Contacto 2.2</a></li>
						</ul>
					</li>
				</ul>
			</li>
		</ul>
	</nav>
	<aside>
		<ul>
			<li class="aside1">
				<a href="#">Enero</a>
				<ul class="aside2">
					<li><a href="#">Día 1</a></li>
					<li><a href="#">Día 2</a></li>
					<li><a href="#">Día 3</a></li>
					<li><a href="#">Día 4</a></li>
					<li><a href="#">Día 5</a></li>
					<li><a href="#">Día 6</a></li>					
				</ul>
			</li>
			<li class="aside1">
				<a href="#">Febrero</a> 
				<ul class="aside2">
					<li><a href="#">Día 7</a></li>
					<li><a href="#">Día 8</a></li>
					<li><a href="#">Día 9</a></li>				
				</ul>
			</li>
		</ul>
	</aside>
	<section>
		<article>
			<h2>Título de la primera entrada</h2>
			<h1>Subtítulo de la primera entrada</h1>
			<p class="publicado">publicado 10-10-2016</p>
			<p>Este es el texto de mi primera entrada</p>
			<img id="BlogImagen" src="Imagenes/blog.jpg"></img>
			<p><i>Este es el caption de la imagen</i></p>
			<p class="comentarios"><b>comentarios (0)</b></p>
		</article>
	</section>
	<section>
		<article>
			<h2>Título de la segunda entrada</h2>
			<h1>Subtítulo de la segunda entrada</h1>
			<p class="publicado">publicado 10-10-2016</p>
			<p>Este es el texto de mi segunda entrada</p>
			<p class="comentarios"><b>comentarios (0)</b></p>
		</article>
	</section>
	<footer>
		<hr>
		<p>Derechos Reservados &copy; 2016-2020</p>
	</footer>
</body>
</html>