ul{
	width: 200px;
	padding: 0px;
	list-style-type: none
}
li{
	border: 1px solid grey;
	padding: 4px;
	padding-left: 20px;
	background-color: #F2F2F2;
	color: grey;
	margin: -1px;
}
li:hover{
	background-color: lightgrey;
	color: green;
}
#flecha {
	display: none;
}

.Elm1:hover #flecha, .Elm4:hover #flecha {
	display: inline;
}
.Elm1{
	margin-bottom: -5px;
}
.Elm4{
	margin-bottom: -5px;
}
.Sub{
	width: 136.5px;
	border-left: none;
	margin-left: 20px;
	list-style: square;
}
#sub{
	border-top: none;
}
.Elm1 ul, .Elm4 ul {
	display: none;
}
.Elm1:hover ul, .Elm4:hover ul {
	display: block;
}